


.contentContainer{
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 600px;
}

.formContainer{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;

    
} 


.inputContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 7%;
}
.inputContainer input{
    background-color: white;
    height: 30px;
    color: black;
    border: none;
    margin-top: 10px;
    padding: 0 10px;
   
}

.buttonContainer input{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 35px;
    border: none;
    color: white;
}




.errorMsg{
    text-align: center;
    padding-bottom: 7%;
    color: rgb(255, 150, 150);
    font-style: italic;
}

.successfullyMsg{
    text-align: center;
    padding-bottom: 7%;
    font-style: italic;
    font-weight: 200;
}

.headerContainer{
    display: flex;
    padding: 20px;
}
@media only screen and (max-width: 1000px) {
    .contentContainer{
        width: 100vw !important;    
       
    }
  }