.sectionContainer{
    display: flex;
    width: 100vw;
    min-height: 100vh;
}

.container{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
    

}

.wrapper h1{
    text-align: center;
}

.cartContainer{
    
}


.checkoutWrapper{
    
    position: sticky;
    max-height: 400px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    text-align: center;
    background-color: #182c27af;
    border: 1px solid rgba(255, 255, 255, 0.042);
}

