html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background-color:   #12211e;  
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------- Header ----- */ 
h1{
  font-size: 40px;
}
/* ------- Title for menu----- */ 
h2{
  font-size: 35px;
}
h3{
  font-size: 30px;
}

h4{
  font-size: 25px;
}
p{
  font-size: 14px;
}

.buttonStyle{
  max-width: 100px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #284a36;
  border: 1px solid white ;
  cursor: pointer;
  color: white;
}
.payButton{
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #12211e;  
  border: 1px solid rgba(255, 255, 255, 0.172) ;
  cursor: pointer;
  color: white;
  width: 100%;
}


.primaryColor{
  background-color: #152722;
}

.secondaryColor{
  background-color: #27403a84;
}

.thirdColor{
  background-color: #0f1c19;
}
.fourthColor{
  background-color:   #12211e;  
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background-color: #1f3933;
    
  }
} */
