.mainContainer{
    display: flex;
    justify-content: center;
    width: 100%;
   
}
.mainWrapper{
    display: flex;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    justify-content: center;
}