
.sectionContainer{
    width:100%;
    height: 100%;
   
    display: flex;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
}

.container{
    display: flex;
    
    justify-content: center;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin-bottom: 100px;
}

  /*  product item styling */

.item{
    background-color: #27403a84;
    margin: 10px;
    height: 500px;
    max-width: 50%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex: 1 0 21%; /* explanation below */
   
    filter: drop-shadow(2px 4px 6px black);
}


.productLink{
    display: flex;
    justify-content: center;
   
}

.productImage{
    
    width: 350px;
    height: 350px;
    object-fit: contain;
    flex: 3;
    transition: 1s;
}

.productImage:hover{
    scale: 1.05;
    transition: 1s;
}


.productTextContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
    
  
}

.productName{
    padding-bottom: 5px;
}

.productDec{
    padding-bottom: 5px;
}

.productPrice{
    padding-bottom: 5px;
}

.productCategory{
    
}

.buyProductBtn{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 30px;
}

.productIcon{
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.productFlexInfoContainer{
    display: flex;
    
    align-items: center;
}

/* CATEGORY NAV */
.categoryNav{
    display: flex;
    align-items: center;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    
    .item{
      flex: 1 0 40%;
    }
}
@media only screen and (max-width: 600px) {
    .wrapper{
        justify-content: center;
    }
    .item{
       width: 90%;
       max-width: none;
       flex: none;
       margin: 10px 0px;
       border-radius: 0;

    }
    .productImage{
        width: 100%;
    }
}