.container > *{
    background-color: #27403a84;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.container{
    margin-bottom: 100px;
}
.productContainer{
    display: flex;
    flex-wrap: wrap;
    
}
.productItem{
    flex: 0 0 33%;
    
}
.productImg{
    width: 100%;
    object-fit: contain;
   
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flexbox > *{
   padding: 10px;
}

.shippingContainer{
    
    padding: 10px;
}