
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 90px;
    max-width: 1600px;
    position: relative;
   
}

.left{
    display: flex;
    flex: 1;
}

.middel{
    flex: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
  
}
.middel a{
    display: flex;
    padding: 0 15px;
    height: 100%;
    align-items: center;
}

.middel a:hover {
    color: orange;
}



.right{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap:20px;
    align-items: center;
}
.icon{
    width: 25px;
    height: 25px;
}
.logo{
    height: 100%;
    width: 100%;
    max-width: 200px;
}

 /* ------------ Sub menu section ------------ */

.subMenu{
    display: none;
}

@media only screen and (max-width: 1024px) {
    .middel{
        display: none;
    }
    .right{
        display: none;
    }
}